node/node-red_corona_flows.json
[{"id":"170313b.c1138ec","type":"subflow","name":"Get Current Corona Stats","info":"","category":"","in":[{"x":60,"y":180,"wires":[{"id":"37b4e109.b06646"}]}],"out":[{"x":1700,"y":180,"wires":[{"id":"6b16443a.98eebc","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"37b4e109.b06646","type":"switch","z":"170313b.c1138ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":180,"wires":[["4cb67794.9596a8","9420999e.d044b8","91dc03e9.470dc8","4d353c45.9058c4","71238819.fc17a8","403c1487.990104","bf318fd7.d6b98","bcb31e6f.310a48"]]},{"id":"4cb67794.9596a8","type":"api-current-state","z":"170313b.c1138ec","name":"","server":"b8dfe127.571968","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.us_coronavirus_confirmed","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":60,"wires":[["1807b04e.b5b12"]]},{"id":"9420999e.d044b8","type":"api-current-state","z":"170313b.c1138ec","name":"","server":"b8dfe127.571968","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.us_coronavirus_current","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":120,"wires":[["1807b04e.b5b12"]]},{"id":"91dc03e9.470dc8","type":"api-current-state","z":"170313b.c1138ec","name":"","server":"b8dfe127.571968","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.us_coronavirus_deaths","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":180,"wires":[["1807b04e.b5b12"]]},{"id":"4d353c45.9058c4","type":"api-current-state","z":"170313b.c1138ec","name":"","server":"b8dfe127.571968","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.us_coronavirus_recovered","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":240,"wires":[["1807b04e.b5b12"]]},{"id":"71238819.fc17a8","type":"api-current-state","z":"170313b.c1138ec","name":"","server":"b8dfe127.571968","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.worldwide_coronavirus_recovered","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":521,"y":480,"wires":[["1807b04e.b5b12"]]},{"id":"403c1487.990104","type":"api-current-state","z":"170313b.c1138ec","name":"","server":"b8dfe127.571968","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.worldwide_coronavirus_deaths","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":511,"y":420,"wires":[["1807b04e.b5b12"]]},{"id":"bf318fd7.d6b98","type":"api-current-state","z":"170313b.c1138ec","name":"","server":"b8dfe127.571968","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.worldwide_coronavirus_current","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":511,"y":360,"wires":[["1807b04e.b5b12"]]},{"id":"bcb31e6f.310a48","type":"api-current-state","z":"170313b.c1138ec","name":"","server":"b8dfe127.571968","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.worldwide_coronavirus_confirmed","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":300,"wires":[["1807b04e.b5b12"]]},{"id":"1807b04e.b5b12","type":"function","z":"170313b.c1138ec","name":"Set sensor name as topic","func":"var topic;\n\ntopic = msg.data.entity_id;\n\ntopic = topic.split(\"sensor.\").pop();\n\nmsg.topic = topic;\n\nreturn msg;","outputs":1,"noerr":0,"x":851,"y":180,"wires":[["32298bee.697234"]]},{"id":"32298bee.697234","type":"function","z":"170313b.c1138ec","name":"Convert to int","func":"msg.payload = parseInt(msg.payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1091,"y":180,"wires":[["35462b8d.29dcf4"]]},{"id":"35462b8d.29dcf4","type":"join","z":"170313b.c1138ec","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1290,"y":180,"wires":[["6b16443a.98eebc"]]},{"id":"6b16443a.98eebc","type":"change","z":"170313b.c1138ec","name":"Wipe unneeded variables","rules":[{"t":"set","p":"topic","pt":"msg","to":"current","tot":"str"},{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":180,"wires":[[]]},{"id":"fc1e8e49.28fd","type":"inject","z":"9fb98ea0.ee9878","name":"Trigger now","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111,"y":80,"wires":[["d1171c20.9239e"]]},{"id":"c2631350.ee4128","type":"inject","z":"9fb98ea0.ee9878","name":"25 min scan","topic":"","payload":"","payloadType":"date","repeat":"1500","crontab":"","once":true,"onceDelay":"15","x":110,"y":220,"wires":[["3218d901.40e98e"]]},{"id":"de40e0b8.7dcae","type":"debug","z":"9fb98ea0.ee9878","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":80,"wires":[]},{"id":"b5eec8c1.875b3","type":"influxdb out","z":"9fb98ea0.ee9878","influxdb":"fca17655.6851f","name":"","measurement":"infected","precision":"","retentionPolicy":"","x":880,"y":200,"wires":[]},{"id":"f4a8703a.041bb","type":"inject","z":"9fb98ea0.ee9878","name":"Trigger now","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":660,"wires":[["decf6df8.356828"]]},{"id":"decf6df8.356828","type":"influxdb in","z":"9fb98ea0.ee9878","influxdb":"fca17655.6851f","name":"Get 24 hours ago data","query":"select first(*) from infected where time > now() - 24h","rawOutput":false,"precision":"","retentionPolicy":"","x":700,"y":660,"wires":[["ceb866d3.ba0ee"]]},{"id":"ceb866d3.ba0ee","type":"function","z":"9fb98ea0.ee9878","name":"Strip from array","func":"msg.payload = msg.payload[0];\nmsg.topic = \"old\"\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":660,"wires":[["24216b8d.e9340c","ec58128f.c2e8b"]]},{"id":"8c4a92e7.fd1c8","type":"ha-entity","z":"9fb98ea0.ee9878","name":"US Confirmed Delta","server":"b8dfe127.571968","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"us_coronavirus_confirmed_delta"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"People"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"block","x":1790,"y":200,"wires":[[]]},{"id":"b47def49.1ae3","type":"delay","z":"9fb98ea0.ee9878","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":400,"wires":[["decf6df8.356828","24216b8d.e9340c"]]},{"id":"d1171c20.9239e","type":"subflow:170313b.c1138ec","z":"9fb98ea0.ee9878","name":"","env":[],"x":390,"y":140,"wires":[["de40e0b8.7dcae","b47def49.1ae3","b5eec8c1.875b3"]]},{"id":"7e0aac3c.40ed74","type":"function","z":"9fb98ea0.ee9878","name":"Split it out","func":"// deltas\nvar us_conf = {payload:0};\nvar us_curr = {payload:0};\nvar us_deaths = {payload:0};\nvar us_recovered = {payload:0};\n\nvar ww_conf = {payload:0};\nvar ww_curr = {payload:0};\nvar ww_deaths = {payload:0};\nvar ww_recovered = {payload:0};\n\nus_conf.payload = msg.payload.current.us_coronavirus_confirmed - msg.payload.old.first_us_coronavirus_confirmed;\nus_curr.payload = msg.payload.current.us_coronavirus_current - msg.payload.old.first_us_coronavirus_current;\nus_deaths.payload = msg.payload.current.us_coronavirus_deaths - msg.payload.old.first_us_coronavirus_deaths;\nus_recovered.payload = msg.payload.current.us_coronavirus_recovered - msg.payload.old.first_us_coronavirus_recovered;\n\nww_conf.payload = msg.payload.current.worldwide_coronavirus_confirmed - msg.payload.old.first_worldwide_coronavirus_confirmed;\nww_curr.payload = msg.payload.current.worldwide_coronavirus_current - msg.payload.old.first_worldwide_coronavirus_current;\nww_deaths.payload = msg.payload.current.worldwide_coronavirus_deaths - msg.payload.old.first_worldwide_coronavirus_deaths;\nww_recovered.payload = msg.payload.current.worldwide_coronavirus_recovered - msg.payload.old.first_worldwide_coronavirus_recovered;\n\nreturn [us_conf, us_curr, us_deaths, us_recovered, ww_conf, ww_curr, ww_deaths, ww_recovered];","outputs":8,"noerr":0,"x":1440,"y":400,"wires":[["8c4a92e7.fd1c8"],["8c2b2356.4bcc28"],["b690ebf9.f1be08"],["d6643fe.8e1854"],["5157195f.eeb538"],["2cadadf0.b93f4a"],["f7a8a072.191fb"],["e543c76f.50278"]],"inputLabels":["us_conf, us_curr, us_deaths, us_recovered, ww_conf, ww_curr, ww_deaths, ww_recovered"],"outputLabels":["US Conf","US Curr","US Deaths","US Recovered","WW Conf","WW Curr","WW Deaths","WW Recovered"]},{"id":"24216b8d.e9340c","type":"join","z":"9fb98ea0.ee9878","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1150,"y":560,"wires":[["3acb906f.802aa","7e0aac3c.40ed74"]]},{"id":"3acb906f.802aa","type":"debug","z":"9fb98ea0.ee9878","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1350,"y":660,"wires":[]},{"id":"ec58128f.c2e8b","type":"debug","z":"9fb98ea0.ee9878","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":740,"wires":[]},{"id":"8c2b2356.4bcc28","type":"ha-entity","z":"9fb98ea0.ee9878","name":"US Current Delta","server":"b8dfe127.571968","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"us_coronavirus_current_delta"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"People"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"block","x":1780,"y":260,"wires":[[]]},{"id":"b690ebf9.f1be08","type":"ha-entity","z":"9fb98ea0.ee9878","name":"US Deaths Delta","server":"b8dfe127.571968","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"us_coronavirus_deaths_delta"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"People"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"block","x":1780,"y":320,"wires":[[]]},{"id":"d6643fe.8e1854","type":"ha-entity","z":"9fb98ea0.ee9878","name":"US Recovered Delta","server":"b8dfe127.571968","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"us_coronavirus_recovered_delta"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"People"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"block","x":1800,"y":380,"wires":[[]]},{"id":"5157195f.eeb538","type":"ha-entity","z":"9fb98ea0.ee9878","name":"WW Confirmed Delta","server":"b8dfe127.571968","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"worldwide_coronavirus_confirmed_delta"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"People"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"block","x":1800,"y":460,"wires":[[]]},{"id":"2cadadf0.b93f4a","type":"ha-entity","z":"9fb98ea0.ee9878","name":"WW Current Delta","server":"b8dfe127.571968","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"worldwide_coronavirus_current_delta"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"People"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"block","x":1790,"y":520,"wires":[[]]},{"id":"f7a8a072.191fb","type":"ha-entity","z":"9fb98ea0.ee9878","name":"WW Deaths Delta","server":"b8dfe127.571968","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"worldwide_coronavirus_deaths_delta"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"People"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"block","x":1790,"y":580,"wires":[[]]},{"id":"e543c76f.50278","type":"ha-entity","z":"9fb98ea0.ee9878","name":"WW Recovered Delta","server":"b8dfe127.571968","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"worldwide_coronavirus_recovered_delta"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"People"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"block","x":1800,"y":640,"wires":[[]]},{"id":"5add8fd8.d27ee8","type":"delay","z":"9fb98ea0.ee9878","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"24","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":670,"y":280,"wires":[[]]},{"id":"3218d901.40e98e","type":"delay","z":"9fb98ea0.ee9878","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":240,"wires":[["d1171c20.9239e"]]},{"id":"876233d8.0f2558","type":"inject","z":"9fb98ea0.ee9878","d":true,"name":"","topic":"","payload":"-100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1450,"y":120,"wires":[["8c4a92e7.fd1c8","8c2b2356.4bcc28","b690ebf9.f1be08","d6643fe.8e1854","5157195f.eeb538","2cadadf0.b93f4a","f7a8a072.191fb","e543c76f.50278"]]},{"id":"fca17655.6851f","type":"influxdb","z":"","hostname":"192.168.86.56","port":"8086","protocol":"http","database":"corona","name":"Corona","usetls":false,"tls":""},{"id":"b8dfe127.571968","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]